body {
    background-color: #f9bedc;
}

h1 {
    color: #365c9c;
}

section h2 {
    font-size: 50px;
    color: #365c9c;
}

.green-text {
    color: #079d07;
}
.pink-bg {
    background-color: deeppink;
}

/*second page*/
div h1 {
    font-size: 50px;
}

div p {
    color: white;
}

section h2 {
    font-size: 30px;
}

section p {
    color: white;
}

