.yellow-box {
    width: 650px;
    height: 950px;
    background-color: yellow;
    padding-top: 30px;
}
/****************/
.green-box {
    height: 190px;
    width: 500px;
    background-color: #14d614;
    margin: 0 auto;

}

.blue-box {
    height: 150px;
    width: 150px;
    background-color: #47fff8;
    float: left;
    margin-left: 20px; 
    margin-top: 20px;
}

.tan-box {
    height: 150px;
    width: 150px;
    background-color: tan;
    float: right;
    margin-right: 20px; 
    margin-top: 20px;
}

/****************/
.grey-box {
    background-color: #79a1b4;
    height: 360px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.beige-box {
    height: 150px;
    width: 150px;
    background-color: beige;
    float: left;
    margin-left: 20px; 
    margin-top: 20px;
}

.black-box {
    height: 154px;
    width: 150px;
    background-color: black;
    float: right;
    margin-right: 20px; 
    margin-top: 20px;
}

.orange-box {
    height: 150px;
    width: 460px;
    background-color: orange;
    float: left;
    margin-left: 20px; 
    margin-top: 20px; 
}
/****************/

.brown-box {
    height: 300px;
    width: 500px;
    background-color: saddlebrown;
    margin: 0 auto;
    margin-top: 20px;
}

.purple-box {
    height: 150px;
    width: 150px;
    background-color: purple;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 15px;
}

p {
    color: white;
    padding-top: 20px;
    padding-left: 20px;

}










